html {
  background-color: #474a51;
}

h1 {
  font-family: "Courier New";
  text-align: center;
  font-size: 50px;
  color: white;
}

h2 {
  font-family: "Courier New";
  text-align: center;
  font-size: 30px;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  position: absolute;
}

section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.box {
  justify-content: space-around;
  width: 400px;
  height: 250px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 5px;
  font: 14px Arial;
  color: white;
}

#space_paranoids {
  background-image: url("../img/Space_Paranoids.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#light_cycles_game {
  background-image: url("../img/Light_Cycle_Game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#tank_game {
  background-image: url("../img/Tank_Game.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#tron {
  background-image: url("../img/Tron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#clu {
  background-image: url("../img/Clu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#yori {
  background-image: url("../img/Yori.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

#ram {
  background-image: url("../img/Ram.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#sark {
  background-image: url("../img/Sark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
